<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
    {% for pessoa in pessoas %}
        <li>{{pessoa.nome}}
        <a href="{% url 'editar' pessoa.id %}">Editar</a>
        <a href="{% url 'delete' pessoa.id %}">Deletar</a>
        </li>

    {% endfor %}
    </ul>

    <form action="{% url 'salvar' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>